donut_python==1.0.9
Flask==2.3.2
flask_ngrok==0.0.25
Pillow==9.5.0
python-dotenv==1.0.0
SpeechRecognition==3.10.0
torch==2.0.1
transformers==4.25.1
donut-python
gradio
langchain
llama-index
Werkzeug==2.3.6
diffusers==0.16.1
safetensors
transformers 
scipy 
ftfy 
accelerate
compel
modelscope==1.4.2
open_clip_torch
pytorch-lightning